%h1 Listing pictures
%p All my pictures.
%ul.thumbnails
  - @pictures.each do |picture|
    %li.span3
      .thumbnail
        = image_tag "http://placehold.it/210x210" unless picture.file?
        = image_tag picture.file.small.url if picture.file?
        .caption
          %h5= picture.name
          %p
            = link_to 'Show', picture
            = link_to 'Edit', edit_picture_path(picture)
            = link_to 'Destroy', picture, :confirm => 'Are you sure?', :method => :delete

%br

%input#fileupload(type="file" name="picture[file]" style="display: none;"){ :data => {:url => pictures_path} }

= link_to 'New Picture', new_picture_path

