%h1 Listing pictures
%p All my pictures.
%ul.thumbnails
  - @pictures.each do |picture|
    %li.span3
      .thumbnail
        = image_tag "http://placehold.it/260x180" unless picture.image?
        = image_tag picture.image.thumb.url if picture.image?
        .caption
          %h5= picture.name
          %p
            = link_to 'Show', picture
            = link_to 'Edit', edit_picture_path(picture)
            = link_to 'Destroy', picture, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Picture', new_picture_path
